<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="display-8"><span jhiTranslate="home.title">Maroquinerie El Mansour !</span></h2>
      </div>
      <div class="col-lg-4">
        <span class="logo-app2"></span>
      </div>
    </div>

    <div class="container" *ngIf="statistic.categories.length > 0">
      <div class="row">
        <div class="col-lg-12">
          <h4><i class="fa fa-tachometer" aria-hidden="true"></i> Nombre d'article par catégorie</h4>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-lg-2" *ngFor="let category of statistic.categories">
          <div class="okok" style=""></div>
          <a class="text-decoration-none" href="#">
            <div class="card p-1 shadow bg-purple text-center border-0">
              <div class="card-body">
                {{ category.value }}
                <hr />
                <p class="card-title lead countx">{{ category.count }}</p>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8 pt-4">
          <div class="row">
            <div class="col-lg-8 pt-4">
              <h4><i class="fa fa-tachometer" aria-hidden="true"></i> Alerte quantité</h4>
              <hr />
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Quantité</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-active" *ngFor="let article of statistic.articleOutOfStock">
                    <th scope="row">{{ article.code }}</th>
                    <td>{{ article.nom }}</td>
                    <td>{{ article.category?.libelle }}</td>
                    <td>{{ article.qte }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-4 pt-4">
          <google-chart [type]="okxx" [title]="'dd'" [data]="myData"></google-chart>

          <hr />
        </div>
      </div>
    </div>

    <!--    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >Vous êtes connecté en tant que "{{ account.login }}".</span
        >
      </div>



      <div class="alert alert-warning" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.authenticated.prefix">Si vous voulez vous </span>
        <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">connecter</a
        ><span jhiTranslate="global.messages.info.authenticated.suffix"
          >, vous pouvez utiliser les comptes par défaut : <br />
          - Administrateur (nom d'utilisateur="admin" et mot de passe ="admin") <br />
          - Utilisateur (nom d'utilisateur="user" et mot de passe ="user").</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.register.noaccount">Vous n'avez pas encore de compte ?</span>&nbsp;
        <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Créer un compte</a>
      </div>
    </div>

    <p jhiTranslate="home.question">Si vous avez des questions à propos de JHipster :</p>-->

    <!--    <ul>
      <li>
        <a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.homepage"
          >Page d'accueil de JHipster</a
        >
      </li>
      <li>
        <a
          href="https://stackoverflow.com/tags/jhipster/info"
          target="_blank"
          rel="noopener noreferrer"
          jhiTranslate="home.link.stackoverflow"
          >JHipster sur Stack Overflow</a
        >
      </li>
      <li>
        <a
          href="https://github.com/jhipster/generator-jhipster/issues?state=open"
          target="_blank"
          rel="noopener noreferrer"
          jhiTranslate="home.link.bugtracker"
          >JHipster bug tracker</a
        >
      </li>
      <li>
        <a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.chat"
          >JHipster public chat room</a
        >
      </li>
      <li>
        <a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.follow"
          >Suivez @jhipster sur Twitter</a
        >
      </li>
    </ul>

    <p>
      <span jhiTranslate="home.like">Si vous aimez JHipster, donnez nous une étoile sur</span>
      <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.github"
        >GitHub </a
      >!
    </p>-->
  </div>
</div>
