<div class="d-flex justify-content-center">
  <div class="col-8">
    <h3>Importation des nouveaux articles</h3>

    <div class="upload-image" style="padding: 24px">
      <a (click)="downloadColisUploadExcel()"
        >Télecherger un exemple de fichier csv pour uploader <button type="button" class="btn btn-light">Télecherger</button> </a
      ><br />
      <a (click)="downloadListCategories()"
        >Télecherger La liste Categories
        <button type="button" class="btn btn-light">Télecherger</button>
      </a>
      <br /><br />
      <span style="font-size: 18px"> Scannez votre fichier csv <span *ngIf="uploadFile">done</span> </span> <br />
      <input (change)="selectFile1($event)" type="file" class="imgInp" />
      <button (click)="uploadCsv()" id="save-entity-upload" [disabled]="!uploadFile" class="btn btn-primary" color="primary">
        Charger
      </button>
      <br /><br />

      <div *ngIf="lineRejected.length > 0">
        <span jhiTranslate="stockwayApp.article.error"></span>

        <ul>
          <li *ngFor="let elem of lineRejected">{{ elem }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="my-container">
    <ng-template #customLoadingTemplate>
      <div class="custom-class">
        <h3>Loading...</h3>
        <button (click)="showAlert()">Click me!</button>
      </div>
    </ng-template>

    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
  </div>
</div>
