<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="paiement">
      <h2 data-cy="paiementDetailsHeading"><span jhiTranslate="stockwayApp.paiement.detail.title">Paiement</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="stockwayApp.paiement.id">Id</span></dt>
        <dd>
          <span>{{ paiement.id }}</span>
        </dd>
        <dt><span jhiTranslate="stockwayApp.paiement.remunuration">Remunuration</span></dt>
        <dd>
          <span>{{ paiement.remunuration }}</span>
        </dd>
        <dt><span jhiTranslate="stockwayApp.paiement.dateCreation">Date Creation</span></dt>
        <dd>
          <span>{{ paiement.dateCreation | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="stockwayApp.paiement.user">User</span></dt>
        <dd>
          <div *ngIf="paiement.user">
            <a [routerLink]="['/utilisateur', paiement.user.id, 'view']">{{ paiement.user.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/paiement', paiement.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
